<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.userdev.winnerstars">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ApiSpec.Branded"
        tools:replace="android:allowBackup">
        <activity
            android:name=".PrincipalActivity"
            android:screenOrientation="portrait" />
        <!--
        <activity android:name=".GruposFragment" />
        <activity android:name=".ParceriasFragment" />
        <activity android:name=".GaleriaFragment" />
        <activity android:name=".QRCodeFragment" />
        <activity android:name=".AppsFragment" />
        -->
        <activity android:name=".RegistroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetalhesGrupoActivity" />
        <activity android:name=".admin.AddAlunoActivity" />
        <activity android:name=".admin.AddGrupoActivity" />
        <activity android:name=".classesdeapoio.QRActivity" />
        <activity android:name=".SobreActivity" />
        <activity android:name=".AddGaleriaActivity" />
        <activity android:name=".intro.IntroActivity" />
        <activity android:name=".VotarActivity"></activity>
    </application>

</manifest>